*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px vardana, sans-serif;
}

h3{
    font: bold 14px vardana, sans-serif;
}

head, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

boody{
    background: #EEE;
    text-align: center;

}
.agrupar{/*border del cuadro*/
    width: 900px;
    margin: 15px auto;
    border:  2px rgb(133, 41, 76) solid;
    background: #F3F7FA;
    border-radius: 20px;
    box-shadow: gray 15px 15px;

}
.cabecera{
    background: #2c7c68;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 20px;
    height: 30px;
    border-bottom: 2px solid black;
}

.cabecera img{
    position: relative;
    float: left;
    top: -10px;
}

.cabecera h1{
    color: #FFF;
}

.menu{
    background: #863547;
    padding: 5px 15px;
}

.menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin-right: 40px;
    font: bold 14px vardana, sans-serif;
}

.menu li a{
    text-decoration: none ;
    color: #110f10;
    display: block;
    font-size: 15px;
}

.menu li a:hover{
    text-decoration: underline;
    color: black;
}

.seccion{
    float: left;
    width: 600px;
    margin: 20px;
}

.columna{
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
}

.links li a{
    color: #79ab34;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    border-bottom: 2px solid #cba4a3;
}
.links li a:hover{
    
    border-bottom: 2px solid #79ab34;
    color: black;
}

.pie_pagina{
    background: #147963;
    text-align: center;
    border-top: 2px solid rgb(189, 15, 117);
    color: #FFF;
    clear: both;
    height: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}

article{
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 20px;
    background: #f8d4d3;
}

article footer{
    text-align: right;
}

time{
    color: gray;
}

figcaption{
    font: italic 14px vardana, sans-serif;
}